<footer
  class="fixed bottom-0 w-full bg-gradient-to-r from-indigo-500 to-purple-500 dark:from-gray-900 dark:to-gray-800 dark:text-gray-100 flex justify-around items-center py-4 rounded-t-3xl md:hidden">
  <a routerLink="" class="text-white hover:text-gray-200 dark:hover:text-gray-200">
    <i class="fas fa-house-user fa-lg"></i>
  </a>
  <a [routerLink]="[studiesRoute]" class="text-white hover:text-gray-200 dark:hover:text-gray-200">
    <i class="fas fa-graduation-cap fa-lg"></i>
  </a>
  <a [routerLink]="['/experiences']" class="text-white hover:text-gray-200 dark:hover:text-gray-200">
    <i class="fas fa-briefcase fa-lg"></i>
  </a>
</footer>
