<!-- <app-nav></app-nav> -->

<header class="fixed top-0 w-full bg-gradient-to-r from-indigo-500 flex justify-between items-center">
  <h1 class="text-gray-800 text-xl font-bold ml-4">Portfolio</h1>
  <button class="mr-4 focus:outline-none">
    <i class="far fa-moon fa-lg text-gray-800"></i>
  </button>
</header>

<section class="h-screen">
  <div class="bg-gradient-to-b from-indigo-500 to-purple-500 h-full flex flex-col justify-center items-center">
    <div class="container mx-auto px-4 flex flex-col justify-center items-center">
      <div class="flex flex-col items-center justify-between md:flex-row md:items-start">
        <div class="mb-8 md:mb-0 md:w-1/2">
          <img src="/assets/images/profile.png" alt="My Image" class="w-48 rounded-full border-8 border-white shadow-lg md:w-64" />
        </div>
        <div class="text-center md:w-1/2 md:text-left">
          <p class="mb-8 text-lg text-white md:text-xl">Je suis un développeur frontend passionné par la création d'interfaces utilisateur élégantes et conviviales.</p>
          <div class="flex justify-center space-x-4 md:justify-start">
            <a href="https://www.github.com/votre-nom" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-200"> wwww </a>
            <a href="https://www.linkedin.com/in/votre-nom/" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-200"> www </a>
            <a href="https://twitter.com/votre-nom" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-200"> www </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
