<app-nav></app-nav>

<section class="h-screen">
  <div class="bg-gradient-to-b from-indigo-500 to-purple-500 dark:from-gray-900 dark:to-gray-800 h-full flex justify-center items-center">
    <div class="container mx-auto px-4 flex flex-col md:grid md:grid-cols-2">
      <div class="mb-8 md:mb-0 md:self-center mx-auto my-auto">
        <img src="/assets/images/profile.png" alt="My Image" class="profile-image w-48 rounded-full border-8 border-white shadow-lg md:w-64" />
      </div>
      <div class="text-center md:text-left md:self-center">
        <p class="mb-8 text-lg text-white md:text-xl">Je suis un développeur frontend passionné par la création d'interfaces utilisateur élégantes et conviviales.</p>
        <div class="flex justify-center space-x-4 md:justify-start">
          <a href="https://www.linkedin.com/in/benavides-michael-a38062a9/" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-200 dark:text-gray-100 dark:hover:text-gray-200">
            <i class="ri-linkedin-box-fill ri-2x"></i>
          </a>
          <a href="https://github.com/BenavidesMichael" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-200 dark:text-gray-100 dark:hover:text-gray-200 ">
            <i class="ri-github-fill ri-2x"></i>
          </a>
          <a href="https://learn.microsoft.com/fr-fr/users/benavidesmichael/" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-200 dark:text-gray-100 dark:hover:text-gray-200">
            <i class="ri-windows-fill ri-2x"></i>
          </a>
          <a href="/assets/files/MichaelBenavides-cv-En-2023.pdf" download="Benavides Michael - CV" class="text-white hover:text-gray-200 dark:text-gray-100 dark:hover:text-gray-200">
            <i class="ri-file-download-line ri-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
