<header class="fixed top-0 w-full py-3 bg-indigo-500 dark:bg-gray-900 flex justify-between items-center md:h-auto">
  <h1 class="text-white text-xl font-bold ml-4">Benavides Michael</h1>
  <div class="relative">
    <select class="block appearance-none w-full bg-transparent border border-white text-white rounded leading-tight focus:outline-none focus:border-gray-200 dark:border-gray-700 dark:text-gray-100 dark:focus:border-gray-200">
      <option value="fr" class="bg-gray-800 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600">Français</option>
      <option value="en" class="bg-gray-800 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600">English</option>
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-white">
      <i class="fas fa-angle-down"></i>
    </div>
  </div>
  <button class="focus:outline-none mr-2 md:mr-8 " (click)="toggleDarkMode()">
    <i *ngIf="(darkModeEnabled$ | async)" class="ri-sun-fill text-white"> </i>
    <i *ngIf="(darkModeEnabled$ | async) === false" class="ri-moon-fill text-white"></i>
  </button>
</header>

