<section class="bg-gray-900 dark:bg-gray-800">
  <div class="container px-4 py-12 mx-auto md:py-20">
    <h2 class="text-3xl font-bold text-center mb-8 md:text-4xl text-white dark:text-gray-100">Expériences professionnelles</h2>
    <div class="flex flex-col md:flex-row md:space-x-8">

      <div class="md:w-1/2">
        <div class="mb-8 flex flex-col md:flex-row items-center">
          <div class="flex-1 py-2 border-l-2 border-purple-600 md:pl-6">
            <h3 class="text-lg font-medium leading-6 text-white dark:text-gray-300 mb-2 px-2">NSI (ACTIRIS)</h3>
            <p class="text-sm text-gray-400 dark:text-gray-500 mb-2 px-2">07/2021 – NOW | .NET DEVELOPER</p>
            <p class="text-sm font-bold text-gray-300 dark:text-gray-400 mb-2 px-2">
              Project name : Dossier Unique
            </p>
            <p class="text-gray-300 dark:text-gray-400 mb-4 px-2">
              Development features on the Job Seekers' files, data like unregistering the job seeker, Documents attestations, etc… <br />
              Development of tests for each functionality. <br />
              Refactoring of the application into services (remove mediatR and factory pattern).
            </p>
            <div class="flex flex-wrap justify-start items-center px-2">
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">C#</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">.NET CORE API (V6)</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">APPS72</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">ORACLE DB</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Fluent Validation</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Moq</span>
            </div>
          </div>
        </div>
      </div>

      <div class="md:w-1/2">
        <div class="mb-8 flex flex-col md:flex-row items-center">
          <div class="flex-1 py-2 border-l-2 border-purple-600 md:pl-6">
            <h3 class="text-lg font-medium leading-6 text-white dark:text-gray-300 mb-2 px-2">MEGABYTE</h3>
            <p class="text-sm text-gray-400 dark:text-gray-500 mb-2 px-2">03/2019 – 06/2021 | FULLSTACK(.NET, ANGULAR)</p>

            <!-- projet Cefic -->
            <div class="mt-4 mb-2 px-2">
              <p class="text-sm font-bold text-gray-300 dark:text-gray-400">
                Project name : A Guide to the Responsible Care Self-Assessment Webtool
              </p>
              <p class="text-gray-300 dark:text-gray-400">
                Created a forms site to improve reporting functionality, benchmarking, improve access role security, and add multilingual functionality for the entire service.<br />
                The questionnaire is available in 18 languages.<br />
              </p>
              <a href="https://www.youtube.com/watch?v=nZeqIhi8ePg"
                target="_blank"
                class="text-sm text-gray-400 dark:text-white underline">
                  Go to video
              </a>
            </div>

            <!-- projet MegaApprouval -->
            <div class="mt-4 mb-2 px-2">
              <p class="text-sm font-bold text-gray-300 dark:text-gray-400">
                Project name : MegaApprouval
              </p>
              <p class="text-gray-300 dark:text-gray-400">
                Creation of a site for the validation of invoices, with a validation flow, PDF generation.<br />
                Management of authorizations.<br />
                Creation of Windows services for importing accounting documents to several types of storage (local, DB, Azure Storage).<br />
                Deployment of the app on an Azure Cloud environment<br />
              </p>
            </div>

            <!-- projet MailChimp to Sage CRM -->
            <div class="mt-4 mb-2 px-2">
              <p class="text-sm font-bold text-gray-300 dark:text-gray-400">
                Project name : MailChimp to Sage CRM
              </p>
              <p class="text-gray-300 dark:text-gray-400">
                Creation of an API that retrieves users from MailChimp, Inject into SQL DB, Implement in a frame to sage CRM.
              </p>
            </div>

             <!-- Environements -->
             <div class="flex flex-wrap justify-start items-center px-2 mt-4">
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">C#</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">.NET CORE API</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Entity Framework core</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">LINQ</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">ADO</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">SQL SERVER</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">TS-SQL</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Angular (V8)</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Angular Material</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">ngchart2</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">PDFMake</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Azure SQL</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Key Vault</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Application Insights</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Azure Storage</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Azure AD</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Azure Resource Manager</span>
            </div>
          </div>
        </div>
      </div>

      <div class="md:w-1/2">
        <div class="mb-8 flex flex-col md:flex-row items-center">
          <div class="flex-1 py-2 border-l-2 border-purple-600 md:pl-6">
            <h3 class="text-lg font-medium leading-6 text-white dark:text-gray-300 mb-2 px-2">CLUSTEO</h3>
            <p class="text-sm text-gray-400 dark:text-gray-500 mb-2 px-2">03/2019 – 06/2021 | .NET DEVELOPER</p>
            <p class="text-sm font-bold text-gray-300 dark:text-gray-400 mb-2 px-2">
              Project name : Youtonomi Dashboard admin
            </p>
            <p class="text-gray-300 dark:text-gray-400 mb-4 px-2">
              Development of a Web API that communicates with a connected watch and takes data from its
              user such as temperature, heart rate, geolocation, etc. Development of a telemonitoring website
              that processes the information sent by the watch and displays alarms, alerts, graphs and
              configurations (e.g. defining a person's threshold). Development of another module, medical
              record, which keeps all his medical history, e.g. diseases, vaccinations, appointments, etc.
            </p>
            <div class="flex flex-wrap justify-start items-center px-2">
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">C#</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">.NET CORE API</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">ASPNET MVC</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">Entity Framework core</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">LINQ</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">SIGNALR</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">JAVASCRIPT</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">JQUERY</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">GOOGLE CHART</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">FULLCALENDAR</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">DATATABLE</span>
              <span class="bg-purple-600 text-white text-sm font-medium rounded-md py-1 px-2 mr-2 mb-2">ICAL.NET</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
